SOAP/PatientData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bakulev.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.bakulev.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Service: GettingPatientData, Version: 1.0, Owner: LAIB</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault='qualified' targetNamespace="http://www.bakulev.ru/">
			<s:element minOccurs="1" maxOccurs="1" name="GetPatientFirstName" type="s:int"/>
			<s:element minOccurs="0" maxOccurs="1" name="GetPatientFirstNameResponse" type="s:string"/>
			<s:element name="GetPatientDataResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="ArraysOfPatientData" type="tns:ArrayOfPatientData"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetPatientData">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="PatID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfPatientData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="PatientData" type="tns:PatientData"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="PatientData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="SecondName" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name='GetPatientFirstNameIN'>
		<wsdl:part name='PatID' type='xsd:int'/>
	</wsdl:message>
	<wsdl:message name='GetPatientFirstNameOUT'>
		<wsdl:part name='greeting' type='xsd:string'/>
	</wsdl:message>
	<wsdl:message name='GetPatientDataIN'>
		<wsdl:part name='parameters' element='tns:GetPatientData'/>
	</wsdl:message>
	<wsdl:message name='GetPatientDataOUT'>
		<wsdl:part name='parameters' element='tns:GetPatientDataResponse'/>
	</wsdl:message>

	<wsdl:portType name='PatientDataSoap'>
		<wsdl:documentation>Getting Patient Data by PatID</wsdl:documentation>
		<wsdl:operation name='GetPatientFirstName'>
			<wsdl:input message='tns:GetPatientFirstNameIN'/>
			<wsdl:output message='tns:GetPatientFirstNameOUT'/>
		</wsdl:operation>
		<wsdl:operation name='GetPatientData'>
			<wsdl:input message='tns:GetPatientDataIN'/>
			<wsdl:output message='tns:GetPatientDataOUT'/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name='PatientDataSoap' type='tns:PatientDataSoap'>
		<soap:binding transport='http://schemas.xmlsoap.org/soap/http'/>
		<wsdl:operation name='GetPatientFirstName'>
			<soap:operation soapAction='http://www.bakulev.ru/GetPatientData' style="document"/>
			<wsdl:input name='GetPatientFirstNameIN'>
				<soap:body use='literal'/>
			</wsdl:input>
		<wsdl:output name='GetPatientFirstNameOUT'>
			<soap:body use='literal'/>
		</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name='GetPatientData'>
			<soap:operation soapAction='http://www.bakulev.ru/GetPatientData' style="document"/>
			<wsdl:input name='GetPatientDataInput'>
				<soap:body use='literal'/>
			</wsdl:input>
		<wsdl:output name='GetPatientDataOutput'>
			<soap:body use='literal'/>
		</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name='PatientDataService'>
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Getting Patient Data by PatID</wsdl:documentation>
		<wsdl:port name='PatientDataSoap' binding='tns:PatientDataSoap'>
			<soap:address location='http://krprtl.bakulev.ru/mostarikov/soap/server.php'/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>